.container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 360px;
  height: 100%;
  max-height: 0;
  background-color: red;
  transform: translate(-50%, 0);
  transition: all .4s ease-in-out;
}

.container.mobileMenuOpen {
  max-height: 100%;
}

.hidden {
  display: none;
}

.mobileMenuUpperLine {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 0 12px;
  background-color: yellow;
}

.languageSelectButton {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flagImage {
  border-radius: 50%;
}

.languageSelectIcon {
  width: 18px;
  height: 18px;
}

.languageSelectIconContainer {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 3px;
  margin-right: 8px;
}

.languageSelectButtonText {
  margin-right: 5px;
  color: var(--black);
  font-family: 'Golos Text', 'Arial', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.languageSelectArrow {
  width: 16px;
  height: 16px;
  background: url('../../images/arrow-down.svg') no-repeat center;
  background-size: contain;
}

.menuButton {
  width: 19px;
  height: 19px;
  border: 0;
  background: center no-repeat;
  background-size: cover;
}

.burger {
  background-image: url('../../images/burger-button.svg');
}

.close {
  background-image: url('../../images/close-button.svg');
}

.languageSelectMenu {
  position: absolute;
  top: 37px;
  left: 0;
  width: 180px;
  box-sizing: border-box;
  padding: 8px 17px;
  border: 1px solid red;
  list-style-type: none;
}

.languageSelectMenuTitle {
  padding: 0;
  margin: 0 0 8px 0;
  color: var(--black);
  font-family: 'Golos Text', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.languageList {
  display: grid;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 40px);
  list-style-type: none;
  row-gap: 8px;
}

.languageListElement {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.languageListImage {
  width: 12px;
  height: 14px;
  margin-right: 12px;
  object-fit: cover;
  object-position: center;
}

.languageListText {
  font-family: 'Golos Text', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}